$s_font_color: #06180C;

$s_color_grey: #7F8581;
$s_color_green: #44aa67;
$s_color_white: #ffffff;

$app-card-title-color: #090c0b;
$app-card-title-font-size: 37rpx;
$app-card-extra-font-size: 28rpx;

.s_flex {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.s_mt_2 {
	margin-top: 20rpx;
}

.s_mt_4 {
	margin-top: 40rpx;
}

.s_mt_5 {
	margin-top: 50rpx;
}

.s_mb_3 {
	margin-bottom: 30rpx;
}

.s_text_ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.s_text_bolder_main {
	font-family: PingFangSC-Semibold;
	font-size: 36rpx;
	font-weight: bolder;
	color: #06180C;
	letter-spacing: 0;
}

.s_text_bolder_min {
	font-family: PingFangSC-Semibold;
	font-size: 28rpx;
	font-weight: bolder;
	color: #06180C;
	letter-spacing: 0;
}

.s_text_dot:before {
	content: '';
	display: block;
	margin-right: 16rpx;
	width: 16rpx;
	height: 16rpx;
	border-radius: 8rpx;
	background: #FA9E19;
}

.input_placeholder {
	font-size: 28rpx;
	font-weight: normal;
	color: #B0B7B3;
}
