.card_right_text {
	font-family: PingFangSC-Regular;
	font-size: 22rpx;
	color: #30BB63;
	letter-spacing: 0;
	text-align: right;
}

.top-background {
		position: absolute;
		left: 0;
		top: 0;
		width: 750rpx;
		height: 320rpx;
		background-image: linear-gradient(180deg, #44aa67 50%, #FAFEFC 100%);
		z-index: -1;
	}

.mt_30 {
	margin-top: 30rpx;
}

.mt_20 {
	margin-top: 20rpx;
}

.ml_10 {
	margin-left: 10rpx;
}

.text_ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.line_36 {
	line-height: 36rpx;
}

.line_42 {
	line-height: 42rpx;
}

.line_54 {
	line-height: 54rpx;
}

.font_18 {
	font-family: PingFangSC-Regular;
	font-size: 18rpx;
}

.font_24 {
	font-family: PingFangSC-Regular;
	font-size: 24rpx;
}

.font_28 {
	font-family: PingFangSC-Regular;
	font-size: 28rpx;
}

.font_36 {
	font-family: PingFangSC-Regular;
	font-size: 36rpx;
}

.font_bold {
	font-weight: bold;
}

.color_black {
	color: #06180C;
}

.color_grey {
	color: #B0B7B3;
}

.color_green {
		color: #43A668;
}

.flex_warp {
	flex-wrap: wrap;
}

.flex_ai_center {
	align-items: center;
}

.flex_ai_end {
	align-items: flex-end;
}

.flex_jc_end {
	justify-content: flex-end;
}

.flex_jc_between {
	justify-content: space-between;
}

.flex_jc_center {
	justify-content: center;
}

.flex_row {
	display: flex;
	flex-direction: row;
}

.flex_colum {
	display: flex;
	flex-direction: column;
}
